#include <stdio.h>
#include <stdint.h>

typedef uint32_t[{{ (buffer.n_bytes / 4)|ceil }}] {{buffer.name}};

{% import './snippets/inblock_element.jinja' as inblock_el %}
{% import './snippets/crossblock_element.jinja' as xblock_el%}

{% for element in buffer.elements %}
    {% if (element.end_bit // 32) == (element.start_bit // 32) %}
        {{ inblock_el.get_function_header(element) }}
    {% elif (element.end_bit // 32) == (element.start_bit // 32 + 1) %}
        {{ xblock_el.get_function_header(element) }}
    {% endif %}
{% endfor %}